version: "3.8"

services:
  setup:
    image: ubuntu:${UBUNTU_VERSION:-22.04}
    user: "0:0"
    privileged: true
    environment:
      - ./output:/var/cache/apt/archives:rw
    command: >
      bash -c '
        if [ "x${UBUNTU_VERSION}" == "x" ]; then
          echo "Set the UBUNTU_VERSION environment variable in the .env file";
          exit 1;
        fi;
        if [ "x${PKG_DOWNLOAD_LIST}" == "x" ]; then
          echo "Set the PKG_DOWNLOAD_LIST environment variable in the .env file";
          exit 1;
        fi;
        sed -i -E "s/(archive|security).ubuntu.com/mirrors.tuna.tsinghua.edu.cn/g" /etc/apt/sources.list;
        apt-get update && apt-get upgrade && apt-get install -y curl wget gpg lsb-core software-properties-common;
        curl -fsSL https://nvidia.github.io/libnvidia-container/gpgkey | gpg --dearmor -o /usr/share/keyrings/nvidia-container-toolkit-keyring.gpg && curl -s -L https://nvidia.github.io/libnvidia-container/stable/deb/nvidia-container-toolkit.list | sed 's#deb https://#deb [signed-by=/usr/share/keyrings/nvidia-container-toolkit-keyring.gpg] https://#g' | tee /etc/apt/sources.list.d/nvidia-container-toolkit.list;
        curl -fsSL https://mirrors.ustc.edu.cn/docker-ce/linux/ubuntu/gpg | apt-key add - && add-apt-repository "deb [arch=amd64] https://mirrors.ustc.edu.cn/docker-ce/linux/ubuntu $(lsb_release -cs) stable";
        apt-get update && apt-get install -y -d ${PKG_DOWNLOAD_LIST};
        echo "All done!";
      '
