version: "3.8"

services:
  setup:
    image: ubuntu:${UBUNTU_VERSION:-22.04}
    user: "0:0"
    privileged: true
    environment:
      - ./debs:/tmp/debs:z
    command: >
      bash -c '
        if [ "x${UBUNTU_VERSION}" == "x" ]; then
          echo "Set the UBUNTU_VERSION environment variable in the .env file";
          exit 1;
        fi;
        if [ "x${PKG_DOWNLOAD_LIST}" == "x" ]; then
          echo "Set the PKG_DOWNLOAD_LIST environment variable in the .env file";
          exit 1;
        fi;
        echo 'ok' > /tmp/ok;
        until [ -f /tmp/debs/apt-offline.zip ] ; do sleep 30; done;
        echo "All done!";
      '
    healthcheck:
      test: [ "CMD-SHELL", "[ -d /tmp/ok ]" ]
      interval: 1s
      timeout: 5s
      retries: 120

  apk-offline:
    depends_on:
      setup:
        condition: service_healthy
    image: ubuntu:${UBUNTU_VERSION:-22.04}-apk-offline
    build: 
      context: .
      args:
       - UBUNTU_VERSION=${UBUNTU_VERSION}
       - PKG_DOWNLOAD_LIST=${PKG_DOWNLOAD_LIST}
    user: "0:0"
    privileged: true
    volumes:
      - ./docker-entrypoint.sh:/docker-entrypoint.sh
      - ./debs:/tmp/debs:z
    environment:
      - PKG_DOWNLOAD_LIST=${PKG_DOWNLOAD_LIST}
