version: "3.8"

services:
  setup:
    image: ubuntu:${UBUNTU_VERSION:-22.04}-apk-offline
    user: "0:0"
    privileged: true
    environment:
      - ./output:/tmp/output:rw
    command: >
      bash -c '
        if [ "x${UBUNTU_VERSION}" == "x" ]; then
          echo "Set the UBUNTU_VERSION environment variable in the .env file";
          exit 1;
        fi;
        if [ "x${PKG_DOWNLOAD_LIST}" == "x" ]; then
          echo "Set the PKG_DOWNLOAD_LIST environment variable in the .env file";
          exit 1;
        fi;
        echo 'ok' > /tmp/.unlock;
        sleep 3;
        echo "Setup done!";
      '
    healthcheck:
      test: [ "CMD-SHELL", "[ -f /tmp/.unlock ]" ]
      interval: 1s
      timeout: 5s
      retries: 120

  downloader:
    build:
      context: .
      args:
        - UBUNTU_VERSION=${UBUNTU_VERSION:-22.04}
    depends_on:
      setup:
        condition: service_healthy
    image: ubuntu:${UBUNTU_VERSION:-22.04}-apk-offline
    user: "0:0"
    privileged: true
    volumes:
      - /usr/share/zoneinfo:/usr/share/zoneinfo
      - /etc/ssl/certs:/etc/ssl/certs
      - ./docker-entrypoint.sh:/docker-entrypoint.sh
#      - ./output:/tmp/output:rw
    environment:
      - TZ=Asia/Shanghai
      - PKG_DOWNLOAD_LIST=${PKG_DOWNLOAD_LIST}
