version: "3.8"

services:
  downloader:
    image: ubuntu:${UBUNTU_VERSION:-22.04}-downloader
    build: .
    user: "0:0"
    privileged: true
    volumes:
      - ./Dockerfile:/tmp/Dockerfile:rw
      - ./docker-entrypoint.sh:/docker-entrypoint.sh
      - ./debs:/tmp/debs:z
    environment:
      - PKG_DOWNLOAD_LIST=${PKG_DOWNLOAD_LIST}
    command: >
      bash -c '
        if [ "x${UBUNTU_VERSION}" == "x" ]; then
          echo "Set the UBUNTU_VERSION environment variable in the .env file";
          exit 1;
        fi;
        if [ "x${PKG_DOWNLOAD_LIST}" == "x" ]; then
          echo "Set the PKG_DOWNLOAD_LIST environment variable in the .env file";
          exit 1;
        fi;
        if [ -z "$(grep ubuntu:${UBUNTU_VERSION} /tmp/Dockerfile)" ]; then
          sed -i -e "s/FROM ubuntu:.*/FROM ubuntu:${UBUNTU_VERSION}/" /tmp/Dockerfile;
          echo "The UBUNTU_VERSION has changed. Please try run `docker-compose up` again.";
          exit 0;
        fi;
        /docker-entrypoint.sh;
        echo "All done!";
      '
